{% if products|length == 0 %}
    <p class="ajax-result-msg">{{ text_empty }}</p>
{% else %}
    <ul class="ajax-result-list">
        {% set i = 0 %}
        {% for product in products %}
            {% set i = i + 1 %}
            <li class="ajax-result-item col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="product-info">
                    {% if product_img_enabled == 1 %}
                        <a class="product-image" href="{{ product.href }}">
                            <div class="product-image">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" />
                            </div>
                        </a>
                    {% endif %}
                    <div class="detail">
                        <h2 class="product-name">
                            <a href="{{ product.href }}">{{ product.name }}</a>
                        </h2>
                        {% if product_price_enabled == 1 %}
                            {% if product.price %}
                                <div class="price-box">
                                    {% if product.special %}
                                        <span class="price">{{ product.price }}</span>
                                    {% else %}
                                        <p class="old-price"><span class="price">{{ product.price }}</span></p>
                                        <p class="special-price"><span class="price">{{ product.special }}</span></p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </li>
            {% if i % 2 == 0 %}
                <div style="clear:both"></div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}