{% if popup %}
    {% set newsletter_class = "newsletter-popup" %}
{% else %}
    {% set newsletter_class = "newsletter-block" %}
{% endif %}
<div class="newsletter-container {{ newsletter_class }}">
    {% if popup %}
        <a href="javascript:void(0)" class="a-close-newsletter" onclick="ptnewsletter.closePopup();">{{ text_close }}</a>
    {% endif %}
    <div class="newsletter-heading">
        <h3>{{ heading_title }}</h3>
    </div>
    <div class="newsletter-content">
        {% if popup %}
            <p class="newsletter-subtitle">{{ text_subtitle }}</p>
            <p class="newsletter-description">{{ text_description }}</p>
        {% endif %}
        <div class="content">
            <label>{{ entry_mail }}</label>
            <input type="text" class="newsletter_email" name="mail_subscribe" value="" placeholder="{{ entry_mail_subscribe }}" />
            <button type="button" class="btn btn-primary" onclick="ptnewsletter.saveMail($(this));">{{ button_subscribe }}</button>
        </div>
        {% if popup %}
            <div class="notice">
                <input type="checkbox" class="cbk_newsletter" />
                <span>{{ text_notification }}</span>
            </div>
        {% endif %}
    </div>
    <div class="newsletter-notification"></div>
</div>
<script>
    ptnewsletter.checkCookie();
</script>