{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-blog" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="theme-option-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-blog" class="form-horizontal">
                        <fieldset>
                            <div class="form-group required">
                                <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                                    {% if error_name %}
                                        <div class="text-danger">{{ error_name }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="status" value="0" />
                                    <input type="checkbox" class="ckb-switch" name="status" id="input-status"
                                           data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-width="100" data-height="36"
                                            {% if status %} value="1" checked {% else %} value="0" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-list">{{ entry_post_list }}</label>
                                <div class="col-sm-6">
                                    <select name="list" id="input-list" class="form-control">
                                        {% if post_lists %}
                                            {% for post_list in post_lists %}
                                                {% if list %}
                                                    {% if list == post_list.post_list_id %}
                                                        <option value="{{ post_list.post_list_id }}" selected="selected">{{ post_list.name }}</option>
                                                    {% else %}
                                                        <option value="{{ post_list.post_list_id }}">{{ post_list.name }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ post_list.post_list_id }}">{{ post_list.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-3 control-label" for="input-width">{{ entry_width }}</label>
                                <div class="col-sm-3">
                                    <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                                    {% if error_width %}
                                        <div class="text-danger">{{ error_width }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-3 control-label" for="input-height">{{ entry_height }}</label>
                                <div class="col-sm-3">
                                    <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                                    {% if error_height %}
                                        <div class="text-danger">{{ error_height }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-auto">{{ entry_auto }}</label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="auto" value="0" />
                                    <input type="checkbox" class="ckb-switch" name="auto" id="input-auto"
                                           data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-width="100" data-height="36"
                                            {% if auto %} value="1" checked {% else %} value="0" {% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-items">{{ entry_items }}</label>
                                <div class="col-sm-3">
                                    <input type="text" name="items" value="{{ items }}" placeholder="{{ entry_items }}" id="input-items" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-speed">{{ entry_speed }}</label>
                                <div class="col-sm-3">
                                    <input type="text" name="speed" value="{{ speed }}" placeholder="{{ entry_speed }}" id="input-speed" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-rows">{{ entry_rows }}</label>
                                <div class="col-sm-3">
                                    <input type="text" name="rows" value="{{ rows }}" placeholder="{{ entry_rows }}" id="input-rows" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-navigation">{{ entry_navigation }}</label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="navigation" value="0" />
                                    <input type="checkbox" class="ckb-switch" name="navigation" id="input-navigation"
                                           data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-width="100" data-height="36"
                                            {% if navigation %} value="1" checked {% else %} value="0" {% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input-pagination">{{ entry_pagination }}</label>
                                <div class="col-sm-6">
                                    <input type="hidden" name="pagination" value="0" />
                                    <input type="checkbox" class="ckb-switch" name="pagination" id="input-pagination"
                                           data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-width="100" data-height="36"
                                            {% if pagination %} value="1" checked {% else %} value="0" {% endif %}>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.toggle.btn').on('click', function () {
            var ckb_status = parseInt($(this).find('.ckb-switch').val());
            if(ckb_status == 1) {
                $(this).find('.ckb-switch').val('0');
            } else {
                $(this).find('.ckb-switch').val('1');
            }
        });
    })
</script>
{{ footer }}