{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-post').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
                <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                <button type="submit" form="form-post" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-post').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="theme-option-container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ text_dashboard_menu }}</h3>
                        </div>
                        <ul class="nav nav-tabs menu-sections pt-dashboard-menu">
                            {% set i = 0 %}
                            {% for menu in plaza_menus %}
                                {% if menu.child %}
                                    <li {% if menu.active %} class="active" {% endif %}>
                                        <a href="#ptcollapse_{{ i }}" data-toggle="collapse" class="parent {% if not menu.active %} collapsed {% endif %}">{{ menu.title }}</a>
                                        <ul id="ptcollapse_{{ i }}" class="collapse {% if menu.active %} in {% endif %}">
                                            {% for item in menu.child %}
                                                <li {% if item.active %} class="active" {% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li {% if menu.active %} class="active" {% endif %}><a href="{{ menu.url }}">{{ menu.title }}</a></li>
                                {% endif %}
                                {% set i = i + 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="theme-option-container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-post">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                            <td class="text-left">
                                                {% if sort == 'ad.name' %}
                                                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                                                {% else %}
                                                    <a href="{{ sort_name }}">{{ column_name }}</a>
                                                {% endif %}
                                            </td>
                                            <td class="text-left">{{ column_author }}</td>
                                            <td class="text-center" width="200px">{% if sort == 'a.status' %}
                                                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                                                {% else %}
                                                    <a href="{{ sort_status }}">{{ column_status }}</a>
                                                {% endif %}</td>
                                            <td class="text-right" width="100px">{{ column_action }}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if posts %}
                                            {% for post in posts %}
                                                <tr>
                                                    <td class="text-center">{% if post.post_id in selected %}
                                                            <input type="checkbox" name="selected[]" value="{{ post.post_id }}" checked="checked" />
                                                        {% else %}
                                                            <input type="checkbox" name="selected[]" value="{{ post.post_id }}" />
                                                        {% endif %}</td>
                                                    <td class="text-left">{{ post.name }}</td>
                                                    <td class="text-left">{{ post.author }}</td>
                                                    <td class="text-center"><span class="item-status {% if post.status %}enabled{% else %}disabled{% endif %}">{{ post.status_text }}</span></td>
                                                    <td class="text-right"><a href="{{ post.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-cog"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td class="text-center" colspan="8">{{ text_no_results }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="row theme-option-pagination">
                                <div class="col-sm-6 text-left">{{ pagination }}</div>
                                <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}